#appMenu-popup {
    margin-inline: -244px !important;
}

#nav-bar {
    padding-right: 0px !important;
    padding-left: 118px !important;
    position: static !important;
}

#navigator-toolbox:not([inFullscreen]) #TabsToolbar .titlebar-buttonbox-container {
    visibility: visible !important;
    display: block !important;
    position: absolute !important;
    top: 1px !important;
    left: 0 !important;
    right: unset !important;
}

/* Let the titlebar button be on the left */
.titlebar-button {
    order: 3 !important;
}
.titlebar-close {
    order: 1 !important;
}
.titlebar-max,
.titlebar-restore {
    order: 2 !important;
}
.titlebar-min {
    order: 3 !important;
}
#TabsToolbar .titlebar-min {
    -moz-box-ordinal-group: 2 !important;
}
#TabsToolbar .titlebar-max,
.titlebar-restore {
    -moz-box-ordinal-group: 1 !important;
}
#TabsToolbar .titlebar-close {
    -moz-box-ordinal-group: 0 !important;
}

#navigator-toolbox[inFullscreen] #navigator-toolbox #TabsToolbar .titlebar-buttonbox-container {
    -moz-box-ordinal-group: 1 !important;
}

#navigator-toolbox #TabsToolbar .titlebar-buttonbox-container {
    -moz-box-ordinal-group: 1 !important;
}

@media only screen and (max-width: 670px) {
    #main-window #navigator-toolbox:not([inFullscreen]) #TabsToolbar .titlebar-buttonbox-container {
        visibility: visible !important;
        position: relative !important;
        display: block !important;
    }

    #main-window #navigator-toolbox:not([inFullscreen]) #nav-bar {
        padding-right: initial !important;
    }

    #TabsToolbar.browser-toolbar {
        display: flex !important;
        justify-content: flex-start !important;
    }

}

#toolbar-menubar {
    /* menubar bg color */
    background-color: var(--bg) !important;
}


/* Line up the Windows controls with the rest of the icons in the toolbar. */
:root:not([sizemode="maximized"]) .titlebar-buttonbox-container {
    padding-top: 3px;
}

.titlebar-buttonbox {
    z-index: 3 !important;
    /* padding-right: 3px; */
    padding-left: 3px;
}

.titlebar-buttonbox * {
    border-radius: 5px;
    width: 35px;
    height: 38px;
}